@font-face {
    font-family: Vazir-Bold;
    src: url(../fonts/Vazir-Bold.eot) format("eot"),
      url(../fonts/Vazir-Bold.woff) format("woff"),
      url(../fonts/Vazir-Bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
}
*{
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: Vazir-Bold;
}
 /* *,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Vazir-Bold;
}
 body{
    direction: rtl;
} 
 a{
    text-decoration: none;
  }
li, ol, ul{
    margin: 0;
    padding: 0;
    list-style: none;
}  */